<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{.Book.Name}} | {{.Book.Pages | len}}P</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/pico.min.css" />
</head>

<body>
  <main class="container">
    <center>
      <p>{{.Book.Name}}</p>
      {{ range .Book.Pages }}
      <div>
        <img src="/public/{{.PublicPath}}" />
        <p>{{.Name}}</p>
      </div>
      {{ end }}
      <p>Elapsed: {{.Elapsed}}ms | comics {{.Version}}</p>
    </center>
  </main>
</body>

</html>
