<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ books_count }} books | Comics {{ version }}</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/assets/water.css" rel="stylesheet" />
</head>

<body>
  <main>
    <h1>Comics {{ version }}</h1>
    <form method="POST" action="/rescan"><input type="submit" value="Re-scan" /></form>
    <form method="POST" action="/shuffle"><input type="submit" value="Shuffle" /></form>
    <p>Elapsed: {{ scan_duration }}ms | Scanned at: {{ scanned_at }}</p>
    {% for b in books %}
    <a href="/book?name={{ b.name|urlencode }}">
      <figure>
        <img src="/data?id={{ b.cover.id|urlencode }}" />
        <figcaption>
          <center>{{ b.name }}</center>
        </figcaption>
      </figure>
    </a>
    {% endfor %}
  </main>
</body>

</html>
