<!DOCTYPE html>
<html lang="en">

<head>
  <title>Comics | {{.Books | len}} book(s)</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/assets/water.css" />
</head>

<body>
  <h1>Comics</h1>
  <div style="display:flex">
    <form method="post" action="/shuffle">
      <input type="submit" value="shuffle" />
    </form>
    <form method="post">
      <input type="submit" value="{{ if .Scanning }}scanning...{{ else }}re-scan{{ end }}" {{ if .Scanning
        }}disabled="disabled" {{ end }} />
    </form>
  </div>
  <div style="justify-content:center">
    {{ if not .Scanning }}
    <small>
      Last scanned: {{.LastScanned}},
      Elapsed: {{.Elapsed}}ms
    </small>
    {{ end }}
  </div>
  {{range .Books}}
  <p>
    <a href="/book/{{.Name}}">
      <figure>
        <img src="/public/{{.PublicCover}}" alt="{{.Name}}" />
        <figcaption>{{.Name}} ({{.Pages | len}}P)</figcaption>
      </figure>
    </a>
  </p>
  {{else}}
  <p>No books found.</p>
  {{end}}
  <small>comics {{.Version}}</small>
</body>

</html>
